pip==24.2
streamlit
tensorflow
keras
transformers==4.30.0
numpy
pandas
nltk
matplotlib
seaborn
wordcloud
emoji
squarify
gdown
google-api-python-client
tokenizers==0.13.3 --prefer-binary
